---
layout: default
title : Publications
navbar_title: Publications
body_attr: >-
  data-spy="scroll" data-target="#navbar-year" data-offset="100"
---

Conference Papers
---

**(*= equal contribution)**

* **[USENIX ATC'24]** "An Empirical Study of Rust-for-Linux: The Success, Dissatisfaction and Compromise", **Hongyu Li\***, **Liwei Guo\***, Yexuan Yang, Shangguang Wang, and Mengwei Xu. ***Best Paper Award!!***
* **[ASPLOS'23]** "Efficient NLP Inference at the Edge via Elastic Pipelining", **Liwei Guo**, Wonkyo Choe, and Felix Xiaozhu Lin.
* **[EUROSYS'22]** "Minimum Viable Device Drivers for ARM TrustZone", **Liwei Guo**, and Felix Xiaozhu Lin.
* **[USENIX ATC'19]** "Transkernel: Bridging Monolithic Kernels to Peripheral Cores", **Liwei Guo**, and Felix Xiaozhu Lin.
* **[EUROSYS'18]** "Power SandBox: Power Awareness Redefined", **Liwei Guo\***, **Tiantu Xu\***, Mengwei Xu, Xuanzhe Liu, and Felix Xiaozhu Lin.
* **[HotMobile'16]** "Decelerating Suspend and Resume in OS," Shuang Zhai, **Liwei Guo**, Xiangyu Li, and Felix Xiaozhu Lin.


Journal Papers
---

Still waiting for my first journal paper :)


<!---
{% assign pubs_by_year = site.publications | sort: "date" | reverse | group_by_exp: "item", "item.date | date: '%Y'" %}

<div class="row">
    <div class="col-12 col-lg-10">
        {% for year in pubs_by_year %}
        {% assign num_papers = year.items | size %}
        <h2 class="pt-4" id="year-{{ year.name }}">{{ year.name }}</h2>
        <div class="my-0 p-0 bg-white shadow-sm rounded-sm">
            {% for item in year.items %}
                {% include widgets/publication_item.html item=item hide_bottom_border=forloop.last first=forloop.first last=forloop.last %}
            {% endfor %}
        </div>
        {% endfor %}
    </div>

    <div class="col-2 d-none d-lg-block">
        <div id="navbar-year" class="nav nav-pills flex-column sticky-top" style="top: 80px">
            {% for year in pubs_by_year %}
            <a class="nav-link d-block" href="#year-{{ year.name }}">{{ year.name }}</a>
            {% endfor %}
        </div>
    </div>

</div>
-->