---
layout: default
title : Publications
navbar_title: Publications
body_attr: >-
  data-spy="scroll" data-target="#navbar-year" data-offset="100"
---


<h2>Conference Papers</h2>
<p><strong>(*= equal contribution)</strong></p>
<ul>
    <li><strong>[USENIX ATC'24]</strong> "An Empirical Study of Rust-for-Linux: The Success, Dissatisfaction and Compromise", <strong>Hongyu Li*</strong>, <strong>Liwei Guo*</strong>, Yexuan Yang, Shangguang Wang, and Mengwei Xu. <strong>Best Paper Award!!</strong></li>
    <li><strong>[ASPLOS'23]</strong> "Efficient NLP Inference at the Edge via Elastic Pipelining", <strong>Liwei Guo</strong>, Wonkyo Choe, and Felix Xiaozhu Lin.</li>
    <li><strong>[EUROSYS'22]</strong> "Minimum Viable Device Drivers for ARM TrustZone", <strong>Liwei Guo</strong>, and Felix Xiaozhu Lin.</li>
    <li><strong>[USENIX ATC'19]</strong> "Transkernel: Bridging Monolithic Kernels to Peripheral Cores", <strong>Liwei Guo</strong>, and Felix Xiaozhu Lin.</li>
    <li><strong>[EUROSYS'18]</strong> "Power SandBox: Power Awareness Redefined", <strong>Liwei Guo*</strong>, <strong>Tiantu Xu*</strong>, Mengwei Xu, Xuanzhe Liu, and Felix Xiaozhu Lin.</li>
    <li><strong>[HotMobile'16]</strong> "Decelerating Suspend and Resume in OS," Shuang Zhai, <strong>Liwei Guo</strong>, Xiangyu Li, and Felix Xiaozhu Lin.</li>
</ul>

<h2>Journal Papers</h2>
<p><em>Still waiting for my first journal paper :)</em></p>



<!---
{% assign pubs_by_year = site.publications | sort: "date" | reverse | group_by_exp: "item", "item.date | date: '%Y'" %}

<div class="row">
    <div class="col-12 col-lg-10">
        {% for year in pubs_by_year %}
        {% assign num_papers = year.items | size %}
        <h2 class="pt-4" id="year-{{ year.name }}">{{ year.name }}</h2>
        <div class="my-0 p-0 bg-white shadow-sm rounded-sm">
            {% for item in year.items %}
                {% include widgets/publication_item.html item=item hide_bottom_border=forloop.last first=forloop.first last=forloop.last %}
            {% endfor %}
        </div>
        {% endfor %}
    </div>

    <div class="col-2 d-none d-lg-block">
        <div id="navbar-year" class="nav nav-pills flex-column sticky-top" style="top: 80px">
            {% for year in pubs_by_year %}
            <a class="nav-link d-block" href="#year-{{ year.name }}">{{ year.name }}</a>
            {% endfor %}
        </div>
    </div>

</div>
-->